body {
    background-color: #222;
    color: #eee;
    font-family: sans-serif;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 60%;
    margin: 3rem auto;
    padding: 1rem;
    /* background-color: #333; */
}

input {
    font-size: 1rem;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    margin-top: 1rem;
    width: 80%;
    margin: 3rem auto;
    padding: 1rem;
    background-color: #333;
}

.card {
    display: grid;
    place-items: center;
    background-color: #111;
    padding: 1rem;
}

.card > .profile {
    border-radius: 100%;
    border: 3px solid #ddd;
    margin-bottom: 1rem;
}

.card > .header {
    margin-bottom: .5rem;
}

.card > .body {
    font-size: .8rem;
    color: #ccc;
}

.hide {
    /* display: none; */
    opacity: .1;
}